// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Colors
$color-white: #ffffff;
$color-black: #263238;
$color-light-grey:#F8F9FC;
$color-dark-grey: #989898;
$color-black: #333333;
$color-green: #247984;
$color-darkgreen: #0D5761;
/// Font family
$text-font-stack: (
  'Roboto',  
  sans-serif
  );
$text-color: $color-black;
$text-muted: $color-dark-grey;

$line-height-base: 1.5;
$line-height-computed: 1.5rem;
$body-bg: $color-white;

$button-primary-color: #006973;
$button-secondary-color: #CDE7EB;
$button-tonal-text: #051F22;
$button-tonal-overlay: #19292B;
$button-disabled-text: #9D9F9F;
$button-disabled-text-secondary: #8B8E8E;
$button-disabled-overlay: #1E2324;
$button-shadow: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004D;
$button-overlay-hover: 0.08;
$button-overlay-focus: 0.12;
$button-overlay-active: 0.16;

$radio-color: $color-green;
$radio-hovercolor: $color-darkgreen;
$radio-disabled: #c6c6c6;
$radio-button-width: 26px;

$dropdown-hover-color: #CFE1E4;
$dropdown-select-color: #A0C4C9;
$dropdown-placeholder-color: $color-dark-grey;
$drowpdown-border-color: $color-dark-grey;
$dropdown-arrow-color: $color-dark-grey;

$tab-text-color: $color-darkgreen;
$tab-underline-color: $color-darkgreen;
$tab-hover-color: $color-darkgreen;

$input-field-box-width: 348px;
$input-field-box-height: 48px;
$input-field-border-radius: 4px;

$text-area-height: 122px;
$text-area-width: 348px;
$text-area-border-radius: 4px;
$text-area-padding: 12px 0 0 12px;




/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
// $breakpoints: (
//   'small': 320px,
//   'medium': 768px,
//   'large': 1024px,
// ) !default;

$screen-tablet: 768px;
$bp-below-tablet: '(max-width: #{$screen-tablet - 1})';