@use '../abstracts/variables' as *;
// --8<-- [start:accordion-desktop]
.accordion {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid $color-old-green;
}

.panel {
  font-size: 16px;
  padding: 0px 12px 16px;
}

.accordion-button {
  font-size: 24px;
  color: $color-black;
  cursor: pointer;
  width: 100%;
  height: 64px;
  text-align: left;
  border: none;
  outline: none;
  padding: 24px 20px 0px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;

  @include respond-to('medium') {
    font-size: 20px;
    height: 44px;
    padding: 16px 12px 0px;
    margin-bottom: 16px;
  }
}

.accordion .panel {
  padding: 0px 20px 24px;
  display: none;
  overflow: hidden;

  @include respond-to('medium') {
    font-size: 16px;
    padding: 0px 12px 16px;
  } 
}

.accordion-button.active + .panel {
  display: block;
  text-align: left;
}

.accordion .accordion-button {
  &.active {
    margin-bottom: 16px;
  }

  & span {
    line-height: 40px;

    @include respond-to('medium') {
      line-height: 26px;
    }
  }
  & .twemoji {
    color: $color-old-green;
    --md-icon-size: 1.75em;
    margin: auto 0;
  }
  &:not(.active) .open {
    display:none;
  }
  &.active .close {
    display: none;
  }
}

.accordion.mobile {
  & .accordion-button{
    font-size: 20px;
    height: 44px;
    padding: 16px 12px 0px;
    margin-bottom: 16px;
  }

  .panel {
    font-size: 16px;
    padding: 0px 12px 16px;
  }

  & span {
    line-height: 26px;
  }
}

// --8<-- [end:accordion-desktop]
