@use '../abstracts/variables' as *;

// --8<-- [start:btn]
.btn {
  border: 0;
  font-weight: 500;
  font-size: 1rem;
  font-family: $text-font-stack;
  text-decoration: none;
  transition: all 100ms ease-in;
  white-space: nowrap;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin: 0.5rem 0;
  width: auto;
  padding: 0.5rem 1.5rem;
  height: 2.5rem; 
  border-radius: 100px; 
}
// --8<-- [end:btn]

// --8<-- [start:btnFilled]
.btn-filled {
  background-color: var(--button-primary-color, $button-primary-color);
  color: var(--color-white, $color-white);
  --md-typeset-a-color: var(--color-white, #{$color-white});
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white, $color-white);
    opacity: 0;
    pointer-events: none;
  }

  &:hover,
  &.hover {
    box-shadow: var(--button-shadow, $button-shadow);

    &::after {
      opacity: var(--button-overlay-hover, $button-overlay-hover);
    }
  }

  &:focus,
  &.focus {
    &::after {
      color: var(--color-white, $color-white);
      opacity: var(--button-overlay-focus, $button-overlay-focus);
    }
  }

  &:active,
  &.pressed {
    &::after {
      color: var(--color-white, $color-white);
      opacity: var(--button-overlay-active, $button-overlay-active);
    }
  }

  &:disabled, 
  &.disabled {
    background-color: var(--color-white, $color-white);
    color: var(--button-disabled-text-secondary, $button-disabled-text-secondary);
    pointer-events: none;

    &::after {
      background-color: var(--button-disabled-overlay, $button-disabled-overlay);
      opacity: 0.12;
    }
  }
}

.md-typeset a.btn.btn-filled:hover,
.md-typeset a.btn.btn-filled.hover {
  color: var(--color-white, $color-white);
}
// --8<-- [end:btnFilled]

// --8<-- [start:btnOutline]
.btn-outline {
  background-color: var(--color-white, $color-white);
  color: var(--button-primary-color, $button-primary-color);
  --md-typeset-a-color: var(--button-primary-color, #{$button-primary-color});
  border: 1px solid #6F797A;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-green, $color-green);
    opacity: 0;
    pointer-events: none;
  }

  &:hover,
  &.hover {
    &::after {
      opacity: var(--button-overlay-hover, $button-overlay-hover);
    }
  }

  &:focus,
  &.focus {
    border-color: var(--button-primary-color, $button-primary-color);

    &::after {
      opacity: var(--button-overlay-focus, $button-overlay-focus);
    }
  }

  &:active,
  &.pressed {
    &::after {
      opacity: var(--button-overlay-active, $button-overlay-active);
    }
  }

  &:disabled,
  &.disabled {
    color: var(--button-disabled-text, $button-disabled-text);
    --md-typeset-a-color: var(--button-disabled-text, $button-disabled-text);
    border-color: #E0E0E0;
    pointer-events: none;
  }
}

.md-typeset a.btn.btn-outline:hover,
.md-typeset a.btn.btn-outline.hover {
  color: var(--button-primary-color, $button-primary-color);
}
// --8<-- [end:btnOutline]

// --8<-- [start:btnTonal]
.btn-tonal {
  background-color: var(--button-secondary-color, $button-secondary-color);
  color: var(--button-tonal-text, $button-tonal-text);
  --md-typeset-a-color: var(--button-tonal-text, #{$button-tonal-text});
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--button-tonal-overlay, $button-tonal-overlay);
    opacity: 0;
    pointer-events: none;
  }

  &:hover,
  &.hover {
    box-shadow: var(--button-shadow, $button-shadow);

    &::after {
      opacity: var(--button-overlay-hover, $button-overlay-hover);
    }
  }

  &:focus,
  &.focus {
    &::after {
      opacity: var(--button-overlay-focus, $button-overlay-focus);
    }
  }

  &:active,
  &.pressed {
    &::after {
      opacity: var(--button-overlay-active, $button-overlay-active);
    }
  }

  &:disabled,
  &.disabled {
    color: var(--button-disabled-text, $button-disabled-text);
    --md-typeset-a-color: var(--button-disabled-text, $button-disabled-text);
    background-color: transparent;
    pointer-events: none;
  }
}

.md-typeset a.btn.btn-tonal:hover,
.md-typeset a.btn.btn-tonal.hover {
  color: var(--button-tonal-text, $button-tonal-text);
}
// --8<-- [end:btnTonal]

// --8<-- [start:btnText]
.btn-text {
  color: var(--button-primary-color, $button-primary-color);
  --md-typeset-a-color: var(--button-primary-color, #{$button-primary-color});
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-green, $color-green);
    opacity: 0;
    pointer-events: none;
  }

  &:hover,
  &.hover {
    &::after {
      opacity: var(--button-overlay-hover, $button-overlay-hover);
    }
  }

  &:focus,
  &.focus {
    &::after {
      opacity: var(--button-overlay-focus, $button-overlay-focus);
    }
  }

  &:active,
  &.pressed {
    &::after {
      opacity: var(--button-overlay-active, $button-overlay-active);
    }
  }

  &:disabled,
  &.disabled {
    color: var(--button-disabled-text, $button-disabled-text);
    --md-typeset-a-color: var(--button-disabled-text, $button-disabled-text);
    background-color: transparent;
    pointer-events: none;
  }
}

.md-typeset a.btn.btn-text:hover,
.md-typeset a.btn.btn-text.hover {
  color: var(--button-primary-color, $button-primary-color);
}
// --8<-- [end:btnText]

// --8<-- [start:btnXlarge]
.btn-xlarge {
  background-color: $button-primary-color;
  color: $color-white;
  --md-typeset-a-color: #{$color-white};
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    opacity: 0;
    pointer-events: none;
  }

  &:hover,
  &.hover {
    box-shadow: $button-shadow;

    &::after {
      opacity: $button-overlay-hover;
    }
  }

  &:focus,
  &.focus {
    &::after {
      opacity: $button-overlay-focus;
    }
  }
  
  &:active,
  &.pressed {
    &::after {
      opacity: $button-overlay-active;
    }
  }

  &:disabled, 
  &.disabled {
    background-color: $color-white;
    color: $button-disabled-text-secondary;
    pointer-events: none;

    &::after {
      background-color: $button-disabled-overlay;
      opacity: 0.12;
    }
  }
}

.md-typeset a.btn.btn-xlarge:hover,
.md-typeset a.btn.btn-xlarge.hover {
  color: $color-white;
}
// --8<-- [end:btnXlarge]
