@use '../abstracts/variables' as *;

// --8<-- [start:chip]
.chip {
    
}
// --8<-- [end:chip]

// --8<-- [start:chipLabel]
.chip-label {

  &:hover,
  &.hover {

  }

  &:focus,
  &.focus {

  }

  &:active,
  &.pressed {
   
  }

  &:disabled, 
  &.disabled {

    &::after {
      
    }
  }
}
// --8<-- [end:chipLabel]

// --8<-- [start:chipTrailing]
.chip-trailing {

  &::after {
  }

  &:hover,
  &.hover {
    &::after {
    }
  }

  &:focus,
  &.focus {

    &::after {
    }
  }

  &:active,
  &.pressed {
    &::after {
    }
  }

  &:disabled,
  &.disabled {
  }
}
// --8<-- [end:chipTrailing]

// --8<-- [start:chipLeading]
.chip-leading {

  &::after {
  }

  &:hover,
  &.hover {
    &::after {
    }
  }

  &:focus,
  &.focus {

    &::after {
    }
  }

  &:active,
  &.pressed {
    &::after {
    }
  }

  &:disabled,
  &.disabled {
  }
}
// --8<-- [end:chipLeading]

// --8<-- [start:chipTrailingLeading]
.chip-leading-trailing {

  &::after {
  }

  &:hover,
  &.hover {
    &::after {
    }
  }

  &:focus,
  &.focus {

    &::after {
    }
  }

  &:active,
  &.pressed {
    &::after {
    }
  }

  &:disabled,
  &.disabled {
  }
}

// --8<-- [end:chipTrailingLeading]

// --8<-- [start:chipAvatar]
.chip-avatar {

  &::after {
  }

  &:hover,
  &.hover {
    &::after {
    }
  }

  &:focus,
  &.focus {

    &::after {
    }
  }

  &:active,
  &.pressed {
    &::after {
    }
  }

  &:disabled,
  &.disabled {
  }
}

// --8<-- [end:chipAvatar]

// --8<-- [start:chipAvatarTrailing]
.chip-avatar-trailing {

  &::after {
  }

  &:hover,
  &.hover {
    &::after {
    }
  }

  &:focus,
  &.focus {

    &::after {
    }
  }

  &:active,
  &.pressed {
    &::after {
    }
  }

  &:disabled,
  &.disabled {
  }
}

// --8<-- [end:chipAvatarTrailing]
