@use '../abstracts/variables' as *;
@mixin all-states {
  &:hover,
  &.hover {
    background-color: $color-surface-container;
  }

  &:focus,
  &.focus {
    background-color: $color-surface-container-high;
  }

  &:active,
  &.pressed {
    background-color: $color-surface-container-highest;
  }

  &:disabled, 
  &.disabled {
    border-color: $color-outline;
    pointer-events:none;
    .label, .icon {
      color: $color-surface-container-highest;
    }
  }
}
// --8<-- [start:chip]
.chip {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 2rem;
    padding: 0.375rem 0.75rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid $color-outline;
    -webkit-transition: 0.2s;
    transition: 0.2s;
   .label {
      color: $color-on-surface-variant;
   }
}
.chip .icon {
    &.-leading {
      --md-icon-size: 1.125rem;
      color: $color-primary;
    }
    &.-trailing {
        --md-icon-size: 1.125rem;
        color: $color-on-surface-variant;
    }
    &.-avatar{
        --md-icon-size: 1.5rem; 
    }
    &.hidden{
        display: none;
    }
}
// --8<-- [end:chip]

// --8<-- [start:chipLabel]
.chip-label {
  @include all-states;
}
// --8<-- [end:chipLabel]

// --8<-- [start:chipTrailing]
.chip-trailing {
  padding-right: 0.5rem;
  @include all-states;
}
// --8<-- [end:chipTrailing]

// --8<-- [start:chipLeading]
.chip-leading {
  padding-left: 0.5rem;
  @include all-states;
}
// --8<-- [end:chipLeading]

// --8<-- [start:chipTrailingLeading]
.chip-leading-trailing {
  padding-left: 0.5rem;
  @include all-states;
}
// --8<-- [end:chipTrailingLeading]

// --8<-- [start:chipAvatar]
.chip-avatar {
  padding: 0.25rem 0.75rem 0.25rem 0.25rem;
  @include all-states;
}
// --8<-- [end:chipAvatar]

// --8<-- [start:chipAvatarTrailing]
.chip-avatar-trailing {
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  @include all-states;
}
// --8<-- [end:chipAvatarTrailing]
