@use '../abstracts/variables' as *;

// --8<-- [start:menu-item]
.menu-item{
    display: flex;
    flex-direction: column;
    & .item-wrapper {
        padding: 8px 12px;
        gap: 12px;
        height: 32px;
    }
    & .divider {
    border: none;
    border-bottom: 1px solid $dropdown-divider-color;
    padding: 8px 0px; //TODO okay to define in inner element? or move to layout container
    margin: 0;
}
}

.item-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    & .left-icon, .right-icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & .item-label {
        text-align: left;
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 14px;
    }
}
.divider {
    display: flex;
    justify-content: center;
}
// --8<-- [end:menu-item]
