@use '../abstracts/variables' as *;

// --8<-- [start:pagination]
.pagination ul.pagination-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    gap: 0.5rem;
    margin: 0;

    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.pagination .pagination-items .pagebutton {
    width: 2rem;
    height: 2rem;
    margin: 0;
    cursor: pointer;

}
.pagination-items .pagebutton .pageicon {
    color: $icon-color-default;

}
.pagination-items .pagebutton {
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;    
    &.-ctrl .pageicon .twemoji, &.-more .pageicon .twemoji {
        size: 0.75rem; 
    }
}
.pagination-items .pagebutton.-page {
    &:hover,
    &.hover {
        background-color: $pagination-button-bg-hover;
    }
    &:focus,
    &.focused {
        background-color: $pagination-button-bg-focused;
    }
    &:active, 
    &.selected {
        background-color: $pagination-button-bg-selected;
        .pageicon {
            color: $icon-color-active;
        }
    }
    &:disabled,
    &.disabled {
        cursor: not-allowed;
    }
}
.pagination-items .pagebutton.-ctrl {
    background-color: transparent; 
    border: $pagination-button-border-ctrl-default;
    &:hover, 
    &.hover {
        border: 0;
        background-color: $pagination-button-bg-hover;
    }
    &:disabled,
    &.disabled {
        border: $pagination-button-border-ctrl-disabled;
        background-color: transparent;
        cursor: not-allowed;
        .pageicon {
            color: $icon-color-disabled;
        }
    }
}

.pagebutton.-more {
    cursor: default;
}
// --8<-- [end:pagination]