// --8<-- [start:unchecked]
input[type="radio"]{
    border:1px solid $radio-color;
    border-radius: 50%;
    width: $radio-button-width;
    height: $radio-button-height;
    margin-right: 5px;
    appearance: none;
    -webkit-appearance: none;

    &:disabled {
        stroke: gray;
        border-color: gray;
        background-color: $radio-disabled;
    }
    &.hover,
    :hover{
        opacity: .3;
    }
    
}
// --8<-- [end:unchecked]

// --8<-- [start:checked]
input[type="radio"]:checked {
    font-weight: 2;
    margin-right: 5px;
    accent-color: $radio-color;
    background-color: $radio-color;
    border: 3px solid #FFF;
    box-shadow: 0 0 0 1px $radio-color;
    

    &.disabled,
    :disabled{
        stroke: gray;
        background-color: $radio-disabled;
        color: gray;
    }
    &.hover,
    :hover{
        opacity: .3;
    }

}
// --8<-- [end:checked]

//apply class to div containing input and label.
.radio-box{
    font-weight: bold;
}

.radio-box input[disabled] + label{
    color:gray;
}

