@use '../abstracts/variables' as *;

// --8<-- [start:unchecked]
.radio{
    @include radio-defaults;
    border:1px solid $radio-color;
    margin-right: 5px;
    appearance: none;
    -webkit-appearance: none;

    &.disabled,
    :disabled {
        stroke: gray;
        border-color: gray;
        background-color: $radio-disabled;
    }
    &.hover,
    :hover{
        opacity: .3;
    }

    
}
// --8<-- [end:unchecked]

// --8<-- [start:checked]
.radio .radio-checked {
    @include radio-defaults;
    border: 4px solid #FFF;
    accent-color: $radio-color;
    background-color: $radio-color;
    box-shadow: 0 0 0 2px $radio-color;
    

    &.disabled,
    :disabled{
        stroke: gray;
        background-color: $radio-disabled;
        color: gray;
    }
    &.hover,
    :hover{
        opacity: .3;
    }

}
// --8<-- [end:checked]

@mixin radio-defaults{
    font-weight: 2;
    display:flex;
    flex-direction: row;
    align-content:center;

    border-radius: $token-radio-radius;
    width: $token-radio-size;
    height: $token-radio-size;
    
    .icon, .label{
        margin:5px;
    }
    &.disabled, &:disabled {
        .label {
            color: gray;
        }
    }
    &.hover, &:hover {
        .label {
            opacity : .3;
        }
    }
}
// --8<-- [end:radio-box]