/* Nav Bar Formmatting */

.md-nav__item a{
    height:2.1rem;
    padding-left: 5px;
    line-height: 2rem;
    text-align: center;
}
.md-nav__link a{
    text-align: center;
    padding-left: 20%;
}

.md-nav__item a:hover{
    background-color: #A0C4C9;
    border-radius: 6px;
    width: fit-content;
    padding: 0 10px;
    
}

.md-nav__list{
    width:15vw
}


.md-nav__link:not(.md-nav__container):hover {
    color: black;
}

li.md-tabs__item:hover { 
    box-shadow: inset 0 -3px 0 0 rgb(123, 178, 162); 
}
