/* Nav Bar Formmatting */

.md-nav__item a {
  height: 2.1rem;
  line-height: 2rem;
  text-align: center;
}
.md-nav__link a {
  text-align: center;
  padding-left: 20%;
}

.md-nav__link {
  margin-bottom: 10px;
}

.md-nav__item a:hover,
.md-nav__link span:hover,
.md-nav__link:hover,
.md-nav__link--active {
  color: blue !important;
  font-weight: bold;
}

.md-nav__list {
  width: 15vw;
}

/* .md-nav__link:not(.md-nav__container):focus,
.md-nav__link:not(.md-nav__container):hover {
  color: black !important;
} */

li.md-tabs__item:hover {
  box-shadow: inset 0 -3px 0 0 rgb(123, 178, 162);
}

.md-icon {
  visibility: hidden;
}

.md-nav__item .md-nav__link--active {
  color: black;
}
