@use '../abstracts/variables' as *;

.tabbed-labels:before{
    background-color: var(--tab-underline-color, $tab-underline-color) !important;
}

.md-typeset .tabbed-labels>label:hover {
    color: var(--tab-hover-color, $tab-hover-color);
}
.md-typeset .tabbed-set>input:first-child:checked~.tabbed-labels>:first-child {
    color: var(--tab-text-color, $tab-text-color) !important;
}

.md-typeset .tabbed-set>input:nth-child(2):checked~.tabbed-labels>:nth-child(2) {
    color: var(--tab-text-color, $tab-text-color) !important;
}

.md-typeset .tabbed-set>input:nth-child(3):checked~.tabbed-labels>:nth-child(3) {
    color: var(--tab-text-color, $tab-text-color) !important;
}

.md-typeset .tabbed-set>input:nth-child(4):checked~.tabbed-labels>:nth-child(4) {
    color: var(--tab-text-color, $tab-text-color) !important;
}

.md-typeset .tabbed-set>input:nth-child(5):checked~.tabbed-labels>:nth-child(5) {
    color: var(--tab-text-color, $tab-text-color) !important;
}

.md-typeset .tabbed-set>input:nth-child(6):checked~.tabbed-labels>:nth-child(6) {
    color: var(--tab-text-color, $tab-text-color) !important;
}

.md-typeset .tabbed-set>input:nth-child(7):checked~.tabbed-labels>:nth-child(7) {
    color: var(--tab-text-color, $tab-text-color) !important;
}

.md-typeset .tabbed-set>input:nth-child(8):checked~.tabbed-labels>:nth-child(8) {
    color: var(--tab-text-color, $tab-text-color) !important;
}